/* */
body {
  padding: 4px;
  margin: 2px;
  font: 16px 'Cousine', 'Roboto', 'Open Sans', monospace;
  background: lightgray;
}

.title-content {
  text-align: center;
}


.title-content, .scroll-content {
  background: lightgreen;
} 

.dashboard-content {
  background: cyan;
} 

div {
  padding: 2px;
  margin: 2px;
  background: white;
  border: 1px solid black; 
} /* specific divs first, then this one */

.listen:hover, .listen:active {
  background: lightcoral;
} /* highlights anything click-able, on hover */