body {
  widows: 100vw;
  font-size: 15px; 
  font-family: 'Encode Sans Expanded', 'Helvetica', 'Arial', sans-serif;
  background: cyan;
}

.container {
  margin: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.dashboard-content {
  margin: 8px;
  padding: 6px;
  height: 28vh;
  background: cyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

.game-world {
  width: 45px;
  height: 45px;
  border: 2px dashed lightgray;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 28px; 
}

h1, h2, h3, h4, h5 {  
  font-family: 'Merienda', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-weight: 900;
}

.caption-details {
  font-variant: small-caps;
}

.title-content, .scroll-content {
  background: lightgreen;
} 

.dashboard-content {
  margin: 8px;
  padding: 6px;
  height: 30vh;
  background: cyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

.listen {
  background: azure;
}

div {
  padding: 2px 4px;
  margin: 2px;
  border-radius: 8px; 
} /* specific divs first, then this one */

.listen:hover, .listen:active {
  background: lavenderblush;
} /* highlights anything click-able, on hover */