<div class="index-view dashboard-content">
  <div>
    <p>5. This LandLot A47 page.</p>
  </div>
  <div class="listen call-method">
    <p>Click to build a new home!</p>
  </div>
  <a href="/users/show">
    <div class="listen">
      <p>Go back to Suzy's page.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  <div>
    <p>Home1 details</p>
  </div>
  <div>
    <p>Home2 details</p>
  </div>
  <div>
    <p>Home 3 details</p>
  </div>
</div>