<div class="create-new-view">

  <form action="/users/{{userId}}/lands" method="POST">

    <div class="create-new-view dashboard-content">

      <div class="sim-content">
        <div class="sim-placeholder">

        </div>
      </div>

      <p class="caption-header">What kind of land?</p>

      <label for="name">Name</label>
      <div class="listen">
        <div class="form-input">
          <input type="text" name="name" required/>
        </div>
      </div>

      <div>
        <form action="/users" method="POST">
          <label for="location">Location</label>
      </div>
      <div class="listen">
        <div class="form-input">
          <input type="text" name="location" />
        </div>
      </div>
    </div>

    <div>
      <form action="/users" method="POST">
        <label for="type">Type</label>
    </div>
    <div class="listen">
      <div class="form-input">
        <input type="text" name="type" />
      </div>
    </div>

    <div class="scroll-content">

      <p class="caption-header">Ready to buy?</p>

      <div class="avatar-button">
        <input class="avatar-submit" type="submit" value="Saved">
      </div>


      <a href="/users/{{userId}}">
        <div class="listen avatar-button">
          <h3>Cancel / go back</h3>
        </div>
      </a>
      
    </div>

</div>
</form>

</div>