<!-- later
  <form action="/users/{{userId}}/lands/{{land._id}}/homes" method="POST">
-->

<div class="lands-view dashboard-content">
  <div>
    <p>3. {{user.name}}'s' {{land.name}}</p>
  </div>
  <div class="listen">
    <p>Buy new home.</p>
  </div>
  <a href="/">
    <div class="listen">
      <p>Back to Index.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  <a href="/users/lands">
    <div class="listen">
      <p>Click to see landLot A34</p>
    </div>
  </a>
  <div>
    <p>landLot F26</p>
  </div>
  <div>
    <p>landLot 3</p>
  </div>
</div>