<!--note: this page both Edits && Deletes -->
<div class="index-view dashboard-content">
  <div>
    <p>4. This is Edit/Delete Suzy Page.</p>
  </div>
  <div class="listen">
    <p>What's Suzy's new favColor?</p>
  </div>
  <a href="/users/delete">
    <div class="listen">
      <p>Click to delete Suzy.</p>
    </div>
  </a>
  <a href="/users/show">
    <div class="listen">
      <p>Go back to Suzy's page.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  <div>
    <p>Does not scroll</p>
  </div>
  <div>
    <p>Does not scroll</p>
  </div>
</div>