<!--note: this page both Edits && Deletes -->
<div class="index-view dashboard-content">
  <div>
    <p>4. Edit/Delete {{user.name}}.</p>
  </div>

  <form action="/users/{{user._id}}?_method=PUT" method="POST">
    <div class="listen">
      <label for="name">Change my name?</label>
      <p>
        <input type="text" name="name" value="{{user.name}}" required />
      </p>
    </div>
    <div class="listen">
      <p>Change my favColor?</p>
    </div>
  </form>

  <a href="/users/delete">
    <div class="listen">
      <p>Click to delete Suzy.</p>
    </div>
  </a>
  <a href="/users/{{user._id}}">
    <div class="listen">
      <p>Go back to Suzy's page.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  <div>
    <p>Does not scroll</p>
  </div>
  <div>
    <p>Does not scroll</p>
  </div>
</div>