<main>

  <div class="sim-content">
    <div class="sim-placeholder">
      <img src="favicon.ico" height="100%" />
    </div>
  </div>

  <p class="caption-header">Welcome! Would you like to ...</p>

  <a href="/users/new">
    <div class="listen">
      <h3>Start new game</h3>
    </div>
  </a>
</main>

<section>

  <p class="caption-header">or choose recent user</p>

  {{#each users}}
  <a href="/users/{{this._id}}">
    <div class="listen">
      <p>{{this.name}} |
        <span class="caption-details">owns {{this.landLots.length}} lands</span>
      </p>
    </div>
  </a>
  {{/each}}

</section>