<div class="index-view dashboard-content">
<div>
  <p>Create a new user.</p>
</div>
</div>

<div class="index-view scroll-content">
  <div>
    <p>User1</p>
  </div>
  <div>
    <p>User2</p>
  </div>
  <div>
    <p>User3</p>
  </div>
</div>