<div class="index-view dashboard-content">
  <div>
    <p>1. This is Index Users page.</p>
  </div>
  <a href="/users/new">
    <div class="listen">
      <p>Create a new user.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  {{#each users}}
  <a href="/users/{{this._id}}">
    <div class="listen">
      <p>{{this.name}}'s page!</p>
    </div>
  </a>
  {{/each}}

</div>


<!-- OLD SCROLL  <a href="/users/show">
    <div class="listen">
      <p>Click to see Suzy (user1).</p>
    </div>
  </a>
  <div>
    <p>User2</p>
  </div>
  <div>
    <p>User3</p>
  </div> -->

<!-- EXAMPLE SCROLL