<div class="index-view dashboard-content">
<div>
  <p>2. This is Create New page.</p>
</div>
  <a href="/">
    <div class="listen">
      <p>Go back to Index.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  <div>
    <p>notUser1</p>
  </div>
  <div>
    <p>notUser2</p>
  </div>
  <div>
    <p>notUser3</p>
  </div>
</div>