<div class="create-new-view dashboard-content">

  <p class="caption-header">Create your avatar</p>

  <form action="/users" method="POST">
    <label for="name">Name</label>
    <div class="listen">
      <div class="form-input">
        <input type="text" name="name" required/>
      </div>
    </div>

    <div>
      <form action="/users" method="POST">
        <label for="favColor">Favorite color</label>
    </div>
    <div class="listen">
      <div class="form-input">
        <input type="text" name="favColor" required/>
      </div>
    </div>

    <a href="/">
      <div class="listen">
        <p> Save </p>
      </div>
    </a>
    <a href="/">
      <div class="listen">
        <p>Back to Index.</p>
      </div>
    </a>
</div>



<!-- not needed
<div class="create-new-view scroll-content">

  <div class="scroll-header">
    <p>Placeholder</p>
  </div>

</div>
-->