<div class="create-new-view dashboard-content">

  <div class="sim-content">
    <div class="sim-placeholder">

    </div>
  </div>

  <p class="caption-header">Create your avatar</p>

  <form action="/users" method="POST">
    <label for="name">Name</label>
    <div class="listen">
      <div class="form-input">
        <input type="text" name="name" required/>
      </div>
    </div>

    <div>
      <form action="/users" method="POST">
        <label for="favColor">Favorite color</label>
    </div>
    <div class="listen">
      <div class="form-input">
        <input type="text" name="favColor" required/>
      </div>
    </div>
</div>
<div class="index-view scroll-content">

  <p class="caption-header">Ready to start?</p>

  <a href="/">
    <div class="listen avatar-button">
      <h3>Save</h3>
    </div>
  </a>
  </form>

  <a href="/">
    <div class="listen avatar-button">
      <h3>Cancel / go back</h3>
    </div>
  </a>

</div>

<!-- not needed
-->