<div class="index-view dashboard-content">
  <div>
    <p>2. This is Create New page.</p>
  </div>
  <div class="listen">
    <p>What's your favColor?</p>
  </div>
  <a href="/">
    <div class="listen">
      <p>Go back to Index.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
  <div>
    <p>Does not scroll</p>
  </div>
  <div>
    <p>Does not scroll</p>
  </div>
</div>