<div class="index-view dashboard-content">
<div>
  <p>This is the New page</p>
</div>
</div>

<div class="index-view scroll-content">
  <div>
    <p>notUser1</p>
  </div>
  <div>
    <p>notUser2</p>
  </div>
  <div>
    <p>notUser3</p>
  </div>
</div>