<div class="create-new-view dashboard-content">
  <div class="dashboard-header">
    <p>Create your avatar</p>
  </div>

  <div class="listen">
    <form action="/users" method="POST">
      <div class="form-input">
        <label for="name">Nickname</label>
        <input type="text" name="name" required/>
      </div>
  </div>

   <div class="listen">
    <form action="/users" method="POST">
      <div class="form-input">
        <label for="favColor">Favorite color</label>
        <input type="text" name="favColor" required/>
      </div>
  </div>


  <a href="/">
    <div class="listen">
      <p> Save </p>
    </div>
  </a>

  <a href="/">
    <div class="listen">
      <p>Go back to Index.</p>
    </div>
  </a>

</div>

<div class="create-new-view scroll-content">
  <div class="scroll-header">
    <p>Placeholder</p>
  </div>

</div>