<div class="index-view dashboard-content">
<div>
  <p>3. This is Suzy's page.</p>
</div>
  <a href="/users/edit">
    <div class="listen">
      <p>Click to Edit or Delete Suzy.</p>
    </div>
  </a>
    <a href="/">
    <div class="listen">
      <p>Go back to Index.</p>
    </div>
  </a>
</div>

<div class="index-view scroll-content">
    <a href="/users/lands">
      <div class="listen">
        <p>Click to see landLot A34</p>
      </div>
    </a>
  <div>
    <p>landLot F26</p>
  </div>
  <div>
    <p>landLot 3</p>
  </div>
</div>